/*********BODY***********/
body{
    font-family:'Kanit', sans-serif;
    overflow: hidden;
}
a:hover{
    color: white;
    transition: 0.4s ease-in;
}

/***********NAVBAR*********/
nav img{
    width: 30px;
}

/***********HEADER************/
header{
    height: 80vh;
}

header h1{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

header img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
figcaption{
    font-size: 0.6em;
}

/*************FOOTER************/
footer p{
    text-align: center;
    font-size: 0.6em;
}

footer img{
    object-fit: contain;
    width: 15px;
}


/********MEDIA QUERY**********/
/* @media (max-heigth: 360px) {
    header > div{
        display: flex;
        flex-direction: row;
    }
} */

@media screen and (min-width: 768px){
    header p{
        align-self: center;
        padding-left: 2em;
        font-size: 1.5em;
    }
    header img{
        width: 60%;
    }
}
@media screen and (min-width: 992px){
    nav img{
        width: 60px;
    }

    header img{
        width: 60%;
    }

    footer p{
        font-size: 0.9em;
    }
    footer img{
        width: 25px;
    }
    footer svg{
        margin-bottom: 15px;
    }
    
    .footer__link__social{
        padding-top: 20px;
    }
}

@media screen and(min-width: 1200px) {
    header img{
        width: 70%;
    }
}

@media screen and(min-width: 1400px) {
    header img{
        width: 60%;
    }
}