/*********BODY***********/
body{
    font-family:'Kanit', sans-serif;
    background-color: #212529;
    color: antiquewhite;
}
a:hover{
    color: white;
    transition: 0.4s ease-in;
}

/***********NAVBAR*********/
nav img{
    width: 30px;
}

nav button:hover{
    background-color: #4a535c;
    transition: 0.4s ease-in;
}

/***********HEADER************/

header h1{
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-radius: 10px 0 0 0;
}

header img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 20px;
}

header img:hover{
    box-shadow: none;
    transition: 0.5s ease;
}

header p:last-child{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 0 010px;
}

figcaption{
    font-size: 0.6em;
    text-decoration: underline;
}

/***********SECTION***************/
.section{
    display: flex;
    flex-direction: column;
}
.section__title{
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
.section__span{
    font-size:1.5em;
}
.section__para{
    font-size: 0.9em;
    margin-bottom: 50px;
    overflow: scroll;
    border: 2px solid black;
    border-radius: 5px;
}


/*************FOOTER************/
footer p{
    text-align: center;
    font-size: 0.6em;
}

footer img{
    object-fit: contain;
    width: 15px;
}


/********MEDIA QUERY**********/

@media screen and (min-width: 768px){
    header p{
        align-self: center;
        padding-left: 2em;
        font-size: 1.2em;
    }
    header img{
        width: 70%;
    }
    .section__para{
        font-size: 1em;
        padding-left: 10px;
    }
}
@media screen and (min-width: 992px){
    nav img{
        width: 60px;
    }

    header img{
        width: 60%;
    }

    footer p{
        font-size: 0.9em;
    }
    footer img{
        width: 25px;
    }
    footer svg{
        margin-bottom: 15px;
    }
    
    .footer__link__social{
        padding-top: 20px;
    }
}